*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: inline-block;
  color: #2f3f54;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

p {
  margin: 0 0 10px;
}

/* img {
    width: 100%;
    display: block;
} */

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
}

.menu__list {
  display: flex;
}

.menu__list li {
  margin-left: 38px;
}

.menu__list a {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
}

.top {
  background-color: #267ae9;
  padding-top: 165px;
  padding-bottom: 217px;
}

.top__inner {
  display: flex;
}

.top-info {
  max-width: 555px;
  margin-right: 30px;
}
.top-info__subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
.top-info__title {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 52px;
}
.top-info__description {
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 30px;
}

.top-info__description span {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  line-height: 24px;
}

.top-info__list {
  margin-bottom: 50px;
}

.top-info__list li {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 3px;
  position: relative;
  padding-left: 24px;
}

.top-info__list li::before {
  content: '';
  background-image: url('../img/list_icon.png');
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.top-info__btn {
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 13px 44px;
  border-radius: 30px;
  margin-bottom: 18px;
}

.top-images_box {
  position: relative;
}
.top-images__circle {
  font-family: 'Lato', sans-serif;
  color: #212121;
  width: 230px;
  height: 230px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -60px;
  right: -60px;
}
.top-images__title {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 17px;
  width: 140px;
}
.top-images__price {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 8px;
}
.top-images__date {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: right;
  width: 140px;
}

.price {
  padding: 120px 0 180px;
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #2f3f54;
  line-height: 50px;
  text-align: center;
}

.title span {
  color: #2575e7;
}

.price__description {
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #4a6385;
  line-height: 24px;
  max-width: 537px;
  margin: 35px auto 125px;
  text-align: center;
}

.price__description a {
  color: #e74c3c;
}

.price__description span {
  color: #42d6c1;
}

.price__items {
  display: flex;
  justify-content: space-between;
}

.price-item {
  max-width: 360px;
  box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
  padding: 0 50px 60px;
  position: relative;
  overflow: hidden;
}

.price-item__cost {
  width: 265px;
  height: 465px;
  background-color: #267ae9;
  border-radius: 136px;
  position: absolute;
  top: -370px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 40px;
}

.price-item__cost span {
  font-size: 1rem;
}

.price-item__images {
  padding-top: 120px;
  text-align: center;
  margin-bottom: 30px;
  min-height: 250px;
}

.price-item__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 40px;
  color: #267ae9;
  margin-bottom: 25px;
}

.price-item__text {
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  color: #4a6385;
  margin-bottom: 50px;
}

.price-item__list {
  margin-bottom: 75px;
}

.price-item__list li {
  font-weight: 400;
  font-size: 1rem;
  color: #4a6385;
  line-height: 24px;
  margin-bottom: 12px;
  padding-left: 36px;
  position: relative;
}

.price-item__list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('../img/price-icon.png');
  width: 15px;
  height: 11px;
}

.price-item__btn {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 15px;
  color: #fff;
  background-color: #267ae9;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px 10px;
}

.footer {
  background-color: #334357;
  padding: 80px 0 129px 0;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: #718db2;
}

.footer-col__logo {
  width: 263px;
}

.footer__logo {
  margin-bottom: 30px;
}
.footer__text {
  line-height: 22px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-menu {
  width: 165px;
}
.footer__title {
  font-size: 1rem;
  font-weight: 400;
  color: #c6d9f4;
  margin-bottom: 30px;
}
.footer__list a {
  color: #718db2;
  margin-bottom: 8px;
}

.footer-form {
  width: 263px;
}

.footer-form input,
.footer-form textarea {
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: transparent;
  color: #718db2;
  height: 38px;
  display: block;
  width: 100%;
  padding: 0 14px;
}

.footer-form textarea {
  padding: 12px;
  height: 86px;
  resize: none;
}

.footer-form input::placeholder,
.footer-form textarea::placeholder {
  color: #718db2;
}

.footer-form button {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #fff;
  border: none;
  background-color: #2575e7;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}

.reviews {
  padding: 120px 0;
  background-color: #fafafa;
}

.reviews-slider {
  margin-top: 170px;
}

.reviews-slider .slick-list {
  margin: 0 -50px;
}

.reviews-slider .slick-slide {
  margin: 0 50px;
  padding-bottom: 70px;
  outline: none;
}

.reviews-slider .slick-dots {
  display: flex;
  justify-content: center;
}
.reviews-slider .slick-dots li {
  margin: 0px 8px 0 8px;
}

.reviews-slider .slick-dots li.slick-active button {
  background-color: #fff;
  border: 2px solid #2575e7;
}

.reviews-slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: #267ae9;
  outline: none;
}

.reviews-box {
  display: flex;
  box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}

.reviews-box__images {
  background-color: #267ae9;
  width: 190px;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews-box__images img {
  border-radius: 50%;
}

.reviews-box__content {
  background-color: #fff;
  width: 330px;
  padding: 0 40px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews-box__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  color: #4a6385;
  margin-bottom: 30px;
}

.reviews-box__author {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #2f3f54;
  line-height: 30px;
}

.reviews-box__author span {
  font-weight: 700;
  color: #438cec;
}

.btn__menu {
  width: 40px;
  display: none;
}

.btn__menu div {
  height: 5px;
  background-color: #000;
  margin-bottom: 5px;
  cursor: pointer;
}

@media (max-width: 1259px) {
  .reviews-slider .slick-list {
    margin: 0px;
  }
  .reviews-slider .slick-slide {
    margin: 0px;
  }
  .reviews-box {
    box-shadow: none;
  }
}

@media (max-width: 1170px) {
  .price__items {
    max-width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }

  .price-item:last-child {
    margin-top: 25px;
  }
}

@media (max-width: 1065px) {
  .top-info {
    max-width: 425px;
  }
}

@media (max-width: 1025px) {
  .reviews {
    padding: 50px 0;
  }
  .reviews-box {
    margin: 0 auto;
    max-width: 530px;
  }
  .reviews-slider {
    margin-top: 60px;
  }
}

@media (max-width: 935px) {
  .top-info {
    max-width: 325px;
  }
}

@media (max-width: 900px) {
  .menu__list {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 5;
  }

  .menu__list li {
    margin-left: 0;
  }

  .menu__list a {
    display: block;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #000;
  }

  .btn__menu {
    display: block;
  }

  .footer-form {
    width: 100%;
  }
  .footer-form button {
    width: 100%;
  }
}

@media (min-width: 901px) {
  .menu__list {
    display: flex !important;
  }
}

@media (max-width: 870px) {
  .price__description {
    margin: 50px auto 147px;
  }
  .price__items {
    max-width: 87%;
  }
  .price-item {
    margin-bottom: 20px;
  }
  .price-item:last-child {
    margin-top: 0;
  }
}

@media (max-width: 835px) {
  .top-images_box img {
    width: 300px;
  }

  .top-images__circle {
    width: 165px;
    height: 165px;
    top: -30px;
    right: -30px;
  }
}

@media (max-width: 740px) {
  .top {
    padding-top: 60px;
  }

  .top__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .top-info {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 75px;
  }
}

@media (max-width: 640px) {
  .footer {
    padding: 60px 0px 80px 0px;
  }
  .footer__inner {
    justify-content: space-around;
  }

  .footer__inner .footer-menu:nth-child(3) {
    line-height: 25px;
  }
  .footer-col__logo {
    width: 100%;
    text-align: center;
  }
  .footer-menu {
    margin-top: 15px;
  }

  .footer-form {
    margin-top: 20px;
  }
}

@media (max-width: 555px) {
  .title {
    text-align: left;
  }
  .price__items {
    max-width: 100%;
  }

  .reviews .title {
    text-align: center;
  }

  .reviews-box {
    display: block;
  }
  .reviews-box__images {
    min-height: 200px;
    width: 100%;
  }
  .reviews-box__content {
    width: 100%;
    padding: 15px;
    min-height: 200px;
  }
  .reviews-slider .slick-slide {
    padding-bottom: 20px;
  }
  .reviews-slider__item {
    padding-right: 2px;
  }
}

@media (max-width: 380px) {
  .top {
    padding-top: 100px;
  }
  .top-info {
    text-align: center;
  }
  .top-info__list {
    text-align: initial;
    margin: 50px 50px;
  }
  .top-images_box img {
    width: 290px;
  }
  .title {
    text-align: center;
  }

  .price {
    padding: 75px 0 180px;
  }
  .price-item__cost {
    width: 218px;
  }
}

@media (max-width: 370px) {
  .top {
    padding-top: 100px;
  }
  .top-images_box img {
    width: 250px;
  }
  .top-images__circle {
    right: -24px;
  }
}

@media (max-width: 320px) {
  .top {
    padding-top: 35px;
  }
  .price-item__cost {
    width: 175px;
  }
}
